<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Ut egestas dapibus neque, nec consectetur arcu accumsan id. Suspendisse volutpat condimentum felis sed consectetur. Praesent posuere felis aliquam nunc porta, non hendrerit lectus auctor. Ut velit velit, sollicitudin id tellus id, consequat congue ex. Fusce dolor diam, mattis ut pretium et, sollicitudin non lacus. Nam ac sapien scelerisque, facilisis tortor a, pellentesque nunc. Morbi nisi dolor, dignissim non pretium non, consectetur non purus. Phasellus lacinia ipsum sit amet augue volutpat laoreet. Donec ac condimentum est. Cras varius tincidunt ipsum, in lobortis diam malesuada quis. Nullam feugiat metus eros, facilisis fermentum dui varius ut. Nunc rutrum faucibus purus, vitae laoreet libero.</p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink="/feed">Ver o feed</button>
        </div>
    </div>
</div>
